<div class="workspace-container">
  <div id="ide">
        {{#each this.workspaceIds as |workspaceId|}}
          <div style={{if (this.equalsHelper this.currentWorkspaceId workspaceId) (if (get this.visible workspaceId) (concat "visibility: visible; height: " (get this.sizes workspaceId) "; width: " (get this.sizes workspaceId)) "visibility: hidden;") "display: none;" }}>
            <Workspace
              @workspaceId={{workspaceId}}
            />
          </div>
        {{/each}}
  </div>
  <div id="menu">
    <div class="custom-container">
      <input type="text" class="custom-input" placeholder="Your Workspace ID" value={{this.workspaceIdInputValue}} {{on "input" this.updateWorkspaceIdInputValue}}/>
      <button class="custom-button inline" {{action "addWorkspaceId"}}>Add Workspace</button>
      <div class="alert-container">
      {{#if this.addedId}}
        <div class="alert alert-success" role="alert">
          Added workspace with ID <strong>{{this.addedId}}</strong>
        </div>
      {{/if}}
      </div>
    </div>
    <p>Current workspace ID: {{this.currentWorkspaceId}}</p>
    <p>Select workspace to use:</p>
    <div class="workspace-ids">
      <select id="workspace-choice" class="form-select form-select-sm" onchange={{action this.setCurrentWorkspace value="target.value"}}>
        <option value="" selected disabled>Choose workspace</option> 
        {{#each this.workspaceIds as |workspaceId|}}
          <option value={{workspaceId}}>{{workspaceId}}</option>
        {{/each}}
      </select>
    </div>
    <h2>Workspace Management</h2>
    <button class="custom-button" {{action "renderWorkspace"}} >Load Workspace</button>
    <button class="custom-button delete" {{action "destroyWorkspace"}}>Remove Workspace</button>
    <button class="custom-button show" {{on "click" (fn this.changeWorkspaceVisibility this.currentWorkspaceId)}}>{{if this.currentWorkspaceVisibility "Hide" "Show"}} Workspace</button>
    <button class="custom-button show" {{action 'handleOpenModal'}}>Open in modal</button>
    <button class="custom-button show" {{on "click" (fn this.changeSize this.currentWorkspaceId)}}>Resize</button>
    <h2>Events</h2>
    <div class="custom-container">
      <select id="eventChoice" class="form-select form-select-sm" onchange={{action this.setCurrentEvent value="target.value"}}>
        <option value="afterScenarioExecution">afterScenarioExecution</option>
        <option value="afterScenarioExecutionExt">afterScenarioExecutionExt</option>
      </select>
      <button class="custom-button inline" {{action "subscribe"}}>Subscribe</button>
      <button class="custom-button inline" {{action "unsubscribe"}}>Unsubscribe</button>
    </div>
    <div id="event-results">
      <h3>Event Results</h3>
      <pre class="event-results">{{this.eventResult}}</pre>
      <button class="custom-button inline" {{action "clearEventResults"}}>Clear Results</button>
    </div>
  </div>
  {{#if this.isModalOpen}}
    {{workspace-modal 
      onClose=(action "closeModal") 
      workspaceId=this.currentWorkspaceId
      }}
  {{/if}}
</div>