<div class="workspace-container">
  <div id="ide">
    <div id="seco-workspace" data-id="seco-workspace" data-workspace={{@workspaceId}}></div>
  </div>
  <div id="menu">
    <h1>Workspace ID</h1>
    <div class="custom-container">
      <input type="text" id="workspaceIdInput" class="custom-input" placeholder="Your Workspace ID" value={{this.accessToken}} />
      <button class="custom-button inline" {{action "addWorkspaceId"}}>Add Workspace ID</button>
    </div>
    <h1>Workspace Management</h1>
    <button class="custom-button" {{action "createWorkspace"}} disabled={{this.isCreateButtonDisabled}} title={{if this.isCreateButtonDisabled "Workspace already exists" "Create a new workspace"}}>Create Workspace</button>
    <button class="custom-button delete" {{action "deleteWorkspace"}} disabled={{this.isRemoveButtonDisabled}}>Remove Workspace</button>
    <button class="custom-button hide" {{action "hideWorkspace"}}>Destroy Workspace</button>
    <button class="custom-button show" {{action "showWorkspace"}}>Render Workspace</button>
    <h1>Events</h1>
    <div class="custom-container">
      <select id="eventChoice" class="custom-select">
        <option value="afterScenarioExecution">afterScenarioExecution</option>
        <option value="afterScenarioExecutionExt">afterScenarioExecutionExt</option>
      </select>
      <button class="custom-button inline" {{action "subscribe"}}>Subscribe</button>
      <button class="custom-button inline" {{action "unsubscribe"}}>Unsubscribe</button>
    </div>
    <div id="event-results">
      <h2>Event Results</h2>
      <pre id="result" class="event-results"></pre>
    </div>
  </div>
</div>